:root{
    --main-color:#55a372;
    --black-color:#0e0e0e;
    --border:0.1rem solid rgba(255,255,255,0.4);
}


*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
 
    transition: 0.2 ease;
}
/*! base html codes*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
   
 

}
.title{
    font-size: 2rem;
}
body{
    background-color: var(--main-color);
    
    font-family: sans-serif;

    background-image: url(../reqsane/arxafon.jpg);
    background-color: azure;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1000px;
}
section{
    padding: 3.5rem 7%;
}


.header .buttons button{
    cursor:pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

/*header start*/
.header .loqo img{
    height: 7rem;
}
.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem;
    border-radius: 20rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
 
    
}
/*header end*/
/*!home start*/
.home{
    min-height: 100vh;
}
.home .content {
    max-width: 60rem;
}
.home .content h3{
    font-size: 5rem;
    color: rgb(197, 140, 65);
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}
.home .movzu p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}
.home .content h2{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    padding: 1rem 0;

}
.home .content a{
    color: rgb(113, 103, 210);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2;
    padding: 1rem 0;
}
.content {
    
    background-color: lightgrey;
    width: 3000rem;
    border: 1px solid green;
    padding: 10px;
    margin-left: 300px;

  }
  

  .content1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;

    background-color: rgb(134, 107, 142);
    width: 600px;
    height: 100px;
    border: 2px solid rgb(133, 186, 9);
    padding: 10px;
    margin-left: 300px;
   
  }
  .movzu{
    
    background-color: lightgrey;
    width: 60rem;
    height: 40rem;
    border: 1px solid green;
    padding: 10px;
    margin-left: 210px;
   
  }
  .home .movzu h3{
    font-size: 2rem;
    font-weight: 300px;
    line-height: 2px;
    padding: 1rem 0;

}
  .logo {
    color: rgb(168, 32, 32);
    font-size: 30px;
  }
  
  .logo span {
    color: rgb(217, 166, 128);
  }
  .menu-bar {
    background-color: var(--color-black);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

  
  }
 
  .menu-bar img{
    margin-right: 150px;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
   
    padding: 10px 30px;
  
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 15px;
    color: rgb(152, 54, 54);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--black-color);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(233, 229, 224);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }